@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
@font-face {
	font-family: "Tourney";
	src:
		url("../assets/fonts/tourney/Tourney-SemiBold.woff2") format("woff2"),
		url("../assets/fonts/tourney/Tourney-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Staatliches";
	src:
		url("../assets/fonts/staatliches/Staatliches-Regular.woff2") format("woff2"),
		url("../assets/fonts/staatliches/Staatliches-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Francois One";
	src:
		url("../assets/fonts/francois-one/FrancoisOne-Regular.woff2") format("woff2"),
		url("../assets/fonts/francois-one/FrancoisOne-Regular.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
